{% block body %}
    <table>
        
    {% for c in commande %} 
        <tr>
        <td>commande n° {{ c.id }}</td>
    <td>{{ c.username }}</td>
    <td>{{ c.email }}</td>
    <td>{{ c.Datecreated |date("d-m-Y H:i:s") }}</td>
    <td>Total :{{ c.total }} $</td>
        </tr>
   
   {% endfor %} 
    </table>
    {% endblock body %}